.red-box{
    width: 50px;
    height: 50px;
    display: block;
    background-color: red;
    margin-bottom: 100px;
}

.green-circle{
    width: 50px;
    height: 50px;
    display: block;
    background-color: green;
    border-radius: 25px;
    margin-bottom: 100px;
}