.parent{
    position: relative;
    width: 100%;
    height: 100%;
}

.close-button{
    position: fixed;
    color: white;
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    bottom: 90px;
    right: 190px;
}

.gray-square{
    background-color: gray;
    position: fixed;
    width: 200px;
    height: 100px;
    right: 10px;
    bottom: 10px;
}

.timestamp{
    position: fixed;
    background-color: black;
    color: white;
    bottom: 2px;
    right: 15px;
}